@layer components {
  .list-placeholder {
    @apply text-center italic py-6;
    color: hsl(var(--color-text-secondary));
  }
  .visually-hidden {
    @apply absolute overflow-hidden h-1 w-1 -m-px p-0 border-0;
    clip: rect(0, 0, 0, 0);
  }
  .toggle-button-text {
    display: none;
  }
  @screen desktop {
    .toggle-button-text {
      display: inline;
    }
  }
}